@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  background-color: #eff0f5;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; }

html, body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #33303b;
  font-weight: 700; }

p {
  color: #94939a;
  font-weight: 400; }

.wrapper {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 48rem;
  width: 100%; }

.btn {
  background-color: #2acfcf;
  color: white; }
  .btn:hover {
    background-color: #9be4e4;
    color: white;
    cursor: pointer; }
  .btn--active {
    background-color: #3b3054; }

header {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 0.8em;
  padding: 2rem; }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; }
  header a {
    color: #94939a;
    text-decoration: none; }
    header a:hover {
      color: black; }
  header .header__display-left {
    display: flex;
    align-items: center; }
    header .header__display-left .logo {
      width: 6rem;
      height: auto;
      margin-right: 2rem; }
    header .header__display-left ul {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none; }
      header .header__display-left ul li {
        display: inline;
        margin: 0 1em; }
  header .header__display-right a {
    margin: 1rem; }
    header .header__display-right a.btn {
      border-radius: 99rem;
      padding: 0.5rem 1rem; }
  header .header__display-right .menu-icon__bar {
    display: none;
    width: 2rem;
    height: .25rem;
    background-color: #94939a;
    margin: 0.4rem 0; }
    @media only screen and (max-width: 768px) {
      header .header__display-right .menu-icon__bar {
        display: block; } }
  @media only screen and (max-width: 768px) {
    header .logo {
      width: 8rem; }
    header ul, header a {
      display: none; } }

#hero {
  background-color: white;
  padding-bottom: 4rem;
  width: 100%; }
  #hero .wrapper {
    display: flex;
    padding: 3rem 0; }
    @media only screen and (max-width: 768px) {
      #hero .wrapper {
        flex-direction: column-reverse;
        padding: 0 2rem;
        text-align: center; } }
  #hero .header-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 768px) {
      #hero .header-block {
        align-items: center;
        margin-bottom: 4rem; } }
  #hero h1 {
    margin: 0;
    font-size: 3.2em;
    line-height: 1.3em; }
  #hero p {
    line-height: 1.6em; }
  #hero a {
    border-radius: 99rem;
    padding: 0.8rem 1.5rem;
    max-width: 10em;
    font-size: 1em;
    text-align: center;
    text-decoration: none; }
  #hero .hero__image {
    margin-bottom: 2.5rem;
    margin-right: -6rem; }
    #hero .hero__image img {
      width: 30rem; }

#shrink-url {
  margin-top: -3.5rem;
  width: 100%; }
  #shrink-url .wrapper {
    position: relative;
    z-index: 99;
    border-radius: 0.5rem;
    padding: 2.4rem 3rem;
    background: url(../images/bg-shorten-desktop.svg);
    background-color: #3b3054;
    background-size: cover;
    background-repeat: none; }
    @media only screen and (max-width: 768px) {
      #shrink-url .wrapper {
        width: calc(100% - 4rem);
        margin: 0 auto;
        padding: 1.5rem; } }
  #shrink-url form {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      #shrink-url form {
        flex-direction: column; } }
    #shrink-url form label {
      display: none; }
    #shrink-url form input[type="url"] {
      border: none;
      border-radius: 0.5rem;
      padding: 1em 1.4em;
      font-size: 1em;
      line-height: 1em;
      width: 79%; }
      @media only screen and (max-width: 768px) {
        #shrink-url form input[type="url"] {
          margin-bottom: 1.5rem; } }
      #shrink-url form input[type="url"]::placeholder {
        color: #94939a; }
    #shrink-url form button {
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1.5rem;
      width: 19%;
      font-size: 1em; }
      #shrink-url form button:hover {
        cursor: pointer; }
    @media only screen and (max-width: 768px) {
      #shrink-url form input[type="url"],
      #shrink-url form button {
        width: 100%;
        min-height: 3rem; } }

#url-list {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1.2rem auto;
  text-align: left; }
  @media only screen and (max-width: 768px) {
    #url-list {
      flex-direction: column;
      align-items: flex-start; }
      #url-list p {
        border-bottom: 1px solid #eff0f5;
        width: 100%; } }
  #url-list p {
    margin: 0;
    padding: 1rem 0; }
  #url-list a {
    margin: 0;
    padding: 1rem 0;
    color: #2acfcf;
    text-decoration: none; }
  #url-list .btn {
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; }

#advanced-statistics {
  padding: 1rem 1rem;
  margin: 4rem auto;
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    #advanced-statistics {
      margin-top: 1rem; } }
  #advanced-statistics h1 {
    font-size: 1.6em; }
  #advanced-statistics p {
    font-size: 0.8em;
    font-weight: 400; }
  #advanced-statistics .section-header {
    margin: 0 auto 5rem auto;
    max-width: 24rem; }
    @media only screen and (max-width: 768px) {
      #advanced-statistics .section-header {
        margin-bottom: 2rem; } }
  #advanced-statistics .features {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      #advanced-statistics .features {
        flex-direction: column; } }
    #advanced-statistics .features .features__card {
      padding: 1rem;
      width: 31%;
      background-color: white;
      text-align: left; }
      @media only screen and (max-width: 768px) {
        #advanced-statistics .features .features__card {
          width: 100%;
          margin: 3rem auto; } }
      #advanced-statistics .features .features__card h2 {
        font-size: 1em; }
      #advanced-statistics .features .features__card p {
        font-size: 0.7em; }
      #advanced-statistics .features .features__card__icon {
        border-radius: 99rem;
        height: 4rem;
        margin-left: 1rem;
        margin-top: -3rem;
        padding: 2em;
        width: 4rem;
        background-color: #3b3054; }
        @media only screen and (max-width: 768px) {
          #advanced-statistics .features .features__card__icon {
            margin-left: auto;
            margin-right: auto; } }
        #advanced-statistics .features .features__card__icon img {
          height: auto;
          margin-top: -2rem;
          margin-left: -1rem;
          width: 2rem; }

#cta {
  padding: 2rem 1rem 3rem 1rem;
  background: url(../images/bg-boost-desktop.svg);
  background-color: #3b3054;
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center; }
  #cta h1 {
    color: white;
    font-size: 2em; }
  #cta a {
    border-radius: 99rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.8em;
    text-decoration: none; }

footer {
  padding: 3.8rem 0;
  background-color: #232027;
  width: 100%; }
  footer .wrapper {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      footer .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between; } }
  footer .logo {
    width: 5.25rem; }
  footer .icon-links {
    margin: 1rem 0; }
    @media only screen and (max-width: 768px) {
      footer .icon-links {
        margin-top: 4rem; } }
    footer .icon-links a {
      text-decoration: none; }
  footer .social-icon {
    fill: white;
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.5rem; }
    footer .social-icon:hover {
      fill: #2acfcf; }
  footer h1 {
    color: white;
    font-size: 1em; }
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer ul li a {
      margin: 0;
      color: #94939a;
      font-size: 0.7em;
      text-decoration: none; }
      footer ul li a:hover {
        color: #2acfcf; }
